.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 24px;
  flex-wrap: wrap;
  gap: 16px;

  h2 {
    margin: 0 0 16px;
  }
}
